@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


@{
	Layout = "mainLayout.cshtml";
	var aboutUsImg = Model?.Value<IPublishedContent>("aboutUsImg")?.Url() ?? "";
	var greatReviewsImg = Model?.Value<IPublishedContent>("greatReviewsImg")?.Url() ?? "";

	var selection = Umbraco.Content(Guid.Parse("5f71e309-954f-4a78-963f-9b3287976196"))
    .ChildrenOfType("ourExpert")
    .Where(x => x.IsVisible());
}

<div class="container aboutUs">
	<div>
		<img src="@aboutUsImg" >
		<p>@Model.Value("imageName")</p>
	</div>
	<div class="aboutUsText">
		@Model?.Value("aboutUsText")
	</div>
</div>

<section class="greatViews bg-gray">
	<div class="container greatReviewsContent ">
		@Model.Value("greatReviewsContent")
	</div>
	<img  src="@greatReviewsImg" >
</section>




<section class="our-expert">
  <div class="center">
    <h6>@Model.Value("sectionTitle")</h6>
    <h2>@Model.Value("sectionHeadline")</h2>
  </div>
  <div class="container parent">
    @foreach (var item in selection) {
      var image = item?.Value<IPublishedContent>("employeesImg")?.Url() ?? "";
      var employeesRole = item?.Value<string>("employeesRole") ?? "";
    
      <div class="child">
        <img src="@image" />
        <h5 class="employees-name">@item.Name()</h5>
        <p>@employeesRole</p>
      </div>
    }
  </div>
</section>



@await Html.PartialAsync("static/yourNextProject")




